.w-20 {
  width: 17vw !important;
}
.w-80 {
  width: 78vw !important;
}
.w-16 {
  width: 48px;
}

.blur {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: hsla(0, 0%, 100%, 0.8);
}

.vh-75 {
  height: 75vh !important;
}

.imgDragzone {
  width: 100px;
  height: 100px;
}

/* Sidebar.css */
@media (min-width: 992px) {
  .offcanvas-lg {
    position: relative;
    width: 20%;
    height: auto;
    visibility: visible !important;
    background-color: #f8f9fa; /* Ensures the sidebar has a background on larger screens */
    border-right: 1px solid #ddd;
  }
  .offcanvas-body {
    display: block;
  }
}

@media (max-width: 991.98px) {
  #offcanvasSidebar {
    position: absolute !important;
  }
  .w-80 {
    width: auto !important;
  }
}
